/* PC */
@media (min-width: 1024px) {
    #header__menu--mobile {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1220px) {
    .slider__content {
        bottom: 8%;
    }
}

/* PC and Tablet */
@media (min-width: 740px) {

}

/* Tablet -> PC low */
@media (min-width: 740px) and (max-width: 1023px) {
    .slider__content {
        bottom: 8%;
    }

    .slider__topic {
        display: none;
    }

    
}

/* Mobile and Tablet & PC low*/
@media (max-width: 1023px) {
    #header {
        z-index: 1000;
        overflow: hidden;
        height: 50px;
    }

    .header__content {
        display: inline-block;
    }

    .header__navbar {
        /* display: block; */
    }

    .navbar__list-items {
        display: inline-block;
    }

    .navbar__item {
        
    }

    .navbar__item--link {
        
    }

    .subnav__list {
        position: inherit;
        left: 60px;
    }

    #header__menu--mobile {
        float: right;
        margin: 10px 0;
    }
    .menu-mobile--icon {
        color: #fff;
        font-size: 3rem;
        display: block;
        cursor: pointer;
    }

    .header__logo--link > img {
        width: 60px;
        height: 50px;
    }

    .container__title {
        padding: 20px 0;
    }

    .container__seperate-content {
        margin: 0;
        justify-content: center;
    }

    .promotion__details--btn {
        padding: 14px 30px;
        border-radius: 30px;
        font-size: 1.4rem;
    }

    
}

/* big Mobile and Mobile */
@media (max-width: 793px) {
    .slider__topic {
        display: none;
    }

    
}

/* big Mobile */
@media (min-width: 501px) and (max-width: 739px) {
    /* .slider__content {
        bottom: -30%;
    } */
}


/* Mobile */
@media (max-width: 500px) {
    .slider__text--content {
        margin: 10px 0;
    }

    .slider__content {
        bottom: 10%;
    }

    .slider__text--heading {
        font-size: 3.4rem;
        padding: 10px 0;
    }

    .slider__text--description {
        font-size: 1.2rem;
        padding: 0;
    }

    .seperate__content--text h1 {
        font-size: 4rem;
    }

    .seperate__package--link {
        padding: 10px 20px;
    }
}