* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

#main {
    overflow: hidden;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

#header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    position: fixed;
    z-index: 11;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: inline-block;
}

.header__logo--link {
    text-decoration: none;
}

.header__logo--link > img {
    width: 100px;
    height: 80px;
}

.header__navbar {
    /* display: inline-block; */
    /* float: right; */
}

.navbar__list-items {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar__item {
    position: relative;
}

.navbar__item--link {
    text-decoration: none;
    padding: 20px 0;
    margin: 0 30px;
    display: block;
    font-size: 1.4rem;
    color: #fff;
    position: relative;
    font-weight: 600;
    letter-spacing: 2px;
}

.navbar__item--link:not(.book-btn)::after {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--primary-color);
    transition: width linear 0.2s;
    top: 40px;
    left: 0;
    border-radius: 3px;
}

.subnav__list {
    position: absolute;
    list-style: none;
    left: 10px;
    top: calc(100% + 12px);
    display: none;
    text-transform: initial;
}

.navbar__item:hover .subnav__list {
    display: block;
}

.subnav__list::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
}

.subnav__item {

}

.subnav__item--link {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: block;
    font-size: 1.4rem;
}

.subnav__item--link:hover {
    background-color: var(--primary-color);
    border-radius: 4px;
}


.book-btn {
    background-color: var(--primary-color);
    border-radius: 8px;
    
}

.navbar__item--link:hover::after {
    width: 100%;
}

#slider {
    background: url(../img/slide/background_slider.jpg) top center / cover no-repeat;
    position: relative;
    padding-top: 50%;
}

.slider__content {
    position: absolute;
    text-align: center;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.slider__text--content {
    width: 100%;
    color: rgba(255, 255, 255, 0.6);
    margin: 20px 0;
}

.slider__text--heading {
    font-size: 6rem;
    padding: 30px 0;
    font-weight: 800;
}

.slider__text--description {
    font-size: 2rem;
    padding: 30px 0;
    font-weight: 400;
    letter-spacing: 4px;
}

.slider__search {
    z-index: 10;
}

.slider__search--btn {
    background-color: #fff;
    border-radius: 20px;
    border-color: transparent;
    width: 400px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.6);
    position: relative;
}

.slider__search--btn > i {
    font-size: 1.4rem;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
}

.slider__search--btn > input {
    border: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: none;
    font-size: 1.6rem;
}

.slider__search--history {
    position: absolute;
    text-align: center;
}

.search__history--list {
    position: absolute;
    list-style: none;
    top: calc(100% + 2px);
    background-color: #fff;
    width: 100%;
    display: none;
    cursor: default;
    border-radius: 8px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.slider__search--btn > input:focus ~ .search__history--list {
    display: block;
}


.search__history--item {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    padding: 10px 10px;
}

.search__history--item:hover {
    background-color: rgb(224, 224, 224);
}

.search__history--icon {
    margin-right: 10px;
}


.slider__topic {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.slider__topic--link {  
    margin: 0 20px;
    text-decoration: none;
}

.slider__topic--item {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform linear 0.1s;
    will-change: transform;
}

.slider__topic--item:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
}

.slider__topic--title,
.slider__topic--icon {
    font-size: 1.6rem;
    color: #fff;
    position: relative;
    top: 24%;
    display: block;
    padding: 6px 0;
}

.slider__topic--title {
    font-weight: 400;
}


#container { 

}

.container__title {
    text-align: center;
    padding: 50px 0;
}

.container__title--heading {
    opacity: 0.6;
    font-size: 1.4rem;
    letter-spacing: 4px;
    padding: 10px 0;
}

.container__title--des {
    font-size: 3rem;
    padding: 10px 0;
    color: var(--primary-color);
}

.container__destinations--list {

}

.container__destination--item {
    position: relative;
    display: block;
    text-decoration: none;
    margin: 10px 0;
    transform: scale(1, 1);
    transition: all 0.6s ease-out;
    border-radius: 10px;
}

.destination__img {
    padding-top: 66%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 10px;
}

.destination__text {
    position: absolute;
    bottom: 14px;
    left: 10px;
    color: #fff;
}

.destination__heading {
    font-size: 2rem;
}

.destination__description {
    font-weight: 300;
    font-size: 1.2rem;
    padding: 10px 0;
}

.destination__info--hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: var(--primary-color--rgba);
    display: none;
    padding: 10px 0;
}

.container__destination--item:hover {
    transform: scale(1.04, 1.04);
}

.container__destination--item:hover .destination__info--hover {
    display: flex;
}

.destination__info-btn {
    margin: auto;
    border: 14px solid #fff;
    border-radius: 4px;
    background-color: #fff;
    color: var(--primary-color);
}

.container__seperate {
    margin: 100px 0;
    width: 100%;
    height: 200px;
    background-image: url(../img/seperate/hinh-anh-bai-bien-xanh_014557305.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.container__seperate-content {
    margin: auto;
    align-items: center;
    text-align: center;
}

.seperate__content--text h1 {
    color: #fff;
    font-size: 5rem;
    line-height: 1.2;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
}

.seperate__content--package {
    margin: 0 60px;
}

.seperate__package--link {
    text-decoration: none;
    font-size: 1.6rem;  
    color: var(--primary-color);
    background-color: #fff;
    padding: 10px 100px;
    border-radius: 20px;
}

.container__promotions {

}

.promotions__title {
    text-align: center;
    padding-bottom: 30px;
}

.promotions__heading {
    opacity: 0.6;
    font-size: 1.4rem;
    letter-spacing: 4px;
    padding: 10px 0;
}

.promotions__des {
    font-size: 3rem;
    padding: 10px 0;
    color: var(--primary-color);
}

.promotion__item {
    position: relative;
    display: block;
    margin: 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.062);
}

.promotion__item-img {
    padding-top: 63%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.promotion__item-address {
    margin: 0 16px;
    padding-top: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.address__heading {
    color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

.address__city {
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 10px;
}

.promotion__item-price {
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}

.price__title {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
}

.price__value {
    color: var(--primary-color);
}


.promotion__item-des {
    margin: 0 16px;
}

.promotion__description {
    padding: 20px 0;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.5;
}

.promotion__item-details {
    margin: 0 16px;
    padding: 20px 0;
}

.promotion__details--btn {
    padding: 6px 12px;
    background-color: var(--primary-color);
    border-radius: 12px;
    text-decoration: none;
    color: #fff;
}




#footer {
    width: 100%;
    height: 300px;
}